/* Typography */

/* font-family: proxima-nova, sans-serif; */

/* Typography */
h1, h2, h3, h4, h5, h6, .tab-link{font-weight: 600;}
h1,h2{font-size: 48px; line-height: 56px;}
h3{font-size: 36px; line-height: 42px;}
h4{font-size: 28px; line-height: 38px;}
h5{font-size: 24px; line-height: 34px;}
h6{font-size: 18px; line-height: 28px;}

body{font-weight: 400; font-size: 16px; line-height: 24px; overflow-x: hidden; font-family: proxima-nova, sans-serif; }
.body-small{font-size: 14px; line-height: 20px;}
.small-text{font-size: 12px; line-height: 15px;}
/* //End typography */

/* Button style */
.btn{-webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; transition: all .4s ease-in-out; width: 310px; max-width: 100%; height: 54px; border-radius: 27px; box-shadow: 0 4px 10px 0 rgba(200, 216, 235, 0.8); font-size: 18px; line-height: 52px; text-align: center; color: #ffffff; font-family: proxima-nova, sans-serif; font-weight: 700; border-color: #4a90e2; padding: 0;}
.btn:focus,.btn:active{box-shadow: 0 15px 20px 0 rgba(0, 80, 160, 0.2) !important; outline: none !important; background-color: #4a90e2 !important; border-color: #4a90e2 !important; color: #ffffff !important;}
.btn:hover,.btn.small:hover, .btn.large:hover{box-shadow: 0 10px 15px 0 #cddced; border-color: #4a90e2; color: #ffffff;}
.btn.large{width: 380px; max-width: 100%; border-radius: 30px; font-size: 20px;}
.btn.large.white{box-shadow: 0 15px 20px 0 rgba(0, 80, 160, 0.2); border-color: #ffffff; color: #4a90e2;}
.btn.inactive{color: #8ba4c0;}
.btn.small{width: 149px; max-width: 100%; height: 38px; line-height: 35px; border-radius: 25px; border: 2px solid #4a90e2; background-color: transparent; box-shadow: none; font-size: 16px;}
.btn.small:hover{box-shadow: none}
.btn.small.inactive{border: 2px solid #cddced; color: #cddced;}
.btn.btn-primary:hover{box-shadow: 0 8px 15px 0 rgba(200, 216, 235, 0.8)}
.btn.play-video{position: relative; height: 60px; line-height: 58px; text-align: left;}
.btn.play-video:before{float: left; width: 79px; height: 80px; margin-left: 22px; margin-top: -21px; margin-right: 25px; content: ""; background-image: url(../svgs/LEAD_HAPPY_SC09.svg); background-repeat: no-repeat; background-size: cover; display: inline-block;}
.btn.play-video:after{width: 15px; height: 14px; content: ""; display: inline-block; background-image: url(../svgs/icn-play-blue.svg); margin-left: 24px; -webkit-transition: background .3s ease-in; -moz-transition: background .3s ease-in; transition: background .3s ease-in;}
.btn.play-video:active:after, .btn.play-video:focus:after, .btn.play-video:hover:after{background-image: url(../svgs/icn-play-white.svg);}
/* //End Button style */

/* Color class */
.action-blue-bg,.btn,.btn:hover, .btn.large:hover, .btn.small:hover,.tab-nav.active, .navbar-light .navbar-nav .nav-item .nav-link:before, .btn.large.white:hover{background-color: #4a90e2;}
.action-blue-color, .btn.small, .tab-nav, .selectric .label,.selectric-items li:hover, .selectric-items li.selected{color: #4a90e2;}
.btn.large.white:hover{border-color: #4a90e2;}
.brand-blue-light-bg{background: #cddced;}
.brand-blue-light-color{color: #cddced;}
.grey-color{color: #9faab4;}
.grey-bg{background-color: #9faab4;}
.grey-dark-color, h1, h2, h3, h4, h5, h6, .tab-link:hover, .tab-link.active, .footer-nav a, .lead-text{color: #263943;}
.grey-medium-color, .tab-link,body, input:not([type="button"]){color: #5a707b;}
.grey-dark-bg{background-color: #263943;}
.green-color{color: #61b446;}
.blue-bg,.selectric-items li:hover, .selectric-items li.selected,.btn.inactive{background-color: #eff5f9;}
.tropical-blue-bg{background-color: #bbd8f9;}
.tropical-blue-color{color: #bbd8f9;}
.elephant-color, .selectric-items li, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link:hover, .accordion-link{color: #143641}
.white-color,.tab-nav.active,.btn.large.white:hover{color: #ffffff;}
.white-bg,.selectric, .styled-select, .selectric-items, .signup-form-wrap, .btn.small.inactive,.btn.large.white{background-color: #ffffff;}

/* Select option style */
.selectric-wrapper{cursor: default;}
.selectric, .styled-select{width: 381px; max-width: 100%; height: 60px; border-radius: 30px;box-shadow: 0 15px 20px 0 rgba(0, 80, 160, 0.2); border: 0px !important; cursor: pointer;}
.selectric-open .selectric{border-radius: 30px 30px 0 0; border: 0px; box-shadow: 0 0px 0px 0px rgba(0, 80, 160, 0.2);}
.selectric-open.selectric-above .selectric{border-radius: 0px 0px 30px 30px; border: 0px; border-bottom: 1px solid #eff5f9; box-shadow: 0 15px 20px 0 rgba(0, 80, 160, 0.2);}
.styled-select, .selectric .label{padding-left: 30px; padding-right: 36px;}
.selectric .label{width: 100%; height: 100%; margin: 0; line-height: 60px; font-size: 20px; font-family: proxima-nova, sans-serif; font-weight: 700; font-style: normal;}
.selectric .button{width: 76px; height: 60px; background-image: url(../svgs/icn-arrow-down.svg); background-repeat: no-repeat; background-position: center center; padding-right: 36px; padding-left: 20px;}
.selectric-open .selectric .button{background-image: url(../svgs/icn-arrow-down.svg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); transform: rotate(180deg);}
.selectric-items{border-radius: 0 0 30px 30px; box-shadow: 0 15px 20px 0 rgba(59, 119, 187, 0.2); top: 60px; padding-bottom: 12px; overflow: hidden;}
.selectric-open .selectric-items{border: 0; border-top: 1px solid #eff5f9 !important; min-height: 440px;}
.selectric-open.selectric-above .selectric-items{border-radius: 30px 30px 0 0; border-top: 0px !important; border-bottom: 1px solid #eff5f9 !important;}
.selectric-items li{padding: 16px 30px; border: 0; font-size: 18px; line-height: 22px; font-family: proxima-nova, sans-serif; font-weight: normal; font-style: normal; display: block;}
.selectric-items li.disabled{display: none;}
.selectric-items li.selected{font-family: proxima-nova, sans-serif; font-weight: 600;}

/* Common stye */
.default-dhadow{box-shadow: 0 15px 20px 0 rgba(59, 119, 187, 0.2)}
.default-border-radius{border-radius: 10px;}
.overlay-grey-dark{background-color: rgba(38, 57, 67, .9);}
.tab-nav{background-color: rgba(74, 144, 226, .1); height: 50px; line-height: 48px; border-radius: 25px 25px 0 0; text-align: center; text-decoration: none; font-weight: 700;}
.tab-nav:hover{text-decoration: none;}
.tab-link{font-size: 14px; line-height: 24px; background-position: left center; background-repeat: no-repeat; background-size: 20px 20px;}
.tab-link .icon{width: 20px; height: 20px; float: left; position: relative;}
.icon img{position: absolute; left: 0; top: 0; -webkit-transition: opacity .3s ease-in; -moz-transition: opacity .3s ease-in; transition: opacity .3s ease-in;}
.tab-link:hover .icon img,.tab-link.active .icon img,img.active{opacity: 0;}
.tab-link:hover .icon img.active,.tab-link.active .icon img.active{opacity: 1;}

input::-webkit-input-placeholder {
    color: #5a707b;
}
input:focus::-webkit-input-placeholder {
    color: #9faab4;
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: #5a707b;
}
input:focus:-moz-placeholder {
    color: #9faab4;
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #5a707b;
}
input:focus::-moz-placeholder {
    color: #9faab4;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #5a707b;
}
input:focus:-ms-input-placeholder {
    color: #9faab4;
}

/* Input field stle */
input:not([type="button"]), textarea, textarea.form-control{height: 50px; border-radius: 5px; background-color: #f8fafd; border: 1px solid transparent; font-size: 15px; line-height: 20px; box-shadow: none; font-family: proxima-nova, sans-serif; font-weight: normal;}
input:not([type="button"]):focus, textarea.form-control:focus{border-color: #4a90e2; color: #9faab4; box-shadow: none; background-color: #f8fafd; font-family: proxima-nova, sans-serif; font-weight: normal;}
input.value-added:not([type="button"]), textarea.form-control.value-added{font-family: proxima-nova, sans-serif; font-weight: 600; color: #263943}
textarea.form-control{height: 110px; padding-top: 14px;}

/* Radio icon style */
.radio-btn{position: relative; float: left; width: 48.48484848484848%; margin-top: 10px; margin-right: 3.03030303030303%;}
.radio-btn:last-child{margin-right: 0;}
.radio-btn label{padding-left: 34px; margin: 0; cursor: pointer;}
.check{display: block; position: absolute; border: 2px solid #cddced; border-radius: 100%; height: 18px; width: 18px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); left: 0px; z-index: 5; transition: border .25s linear; -webkit-transition: border .25s linear;}
.check::before{display: block; position: absolute; content: ''; border-radius: 100%; height: 12px; width: 12px; top: 1px; left: 1px; margin: auto; transition: background 0.25s linear; -webkit-transition: background 0.25s linear; }
input[type=radio]{height: auto; position: absolute; visibility: hidden; opacity: 0;}
input[type=radio]:checked ~ .check{border-color: #4a90e2; }
input[type=radio]:checked ~ .check::before{background-color: #4a90e2;}

.lead-text{font-size: 20px; line-height: 30px;}
.title-wrap h2{margin-bottom: 23px;}
.title-wrap p{font-size: 18px; line-height: 28px;}

.top-shape{bottom: auto; top: 0;}
.top-shape img{margin-bottom: -1px;}
.bottom-shape{top: auto; bottom: 0;}
.shape-wrap{position: absolute; left: 0; width: 100%; z-index: -1;}
.shape-wrap img{width: 100%;}

.list-wrap{list-style: none; margin: 0; padding: 15px 0 0;}
.list-wrap li{font-weight: 600; padding-left: 44px; position: relative; margin-top: 13px;}
.list-wrap li:before{position: absolute; left: 0; top: 0; width: 26px; height: 26px; border-radius: 100%; content: ""; background-image: url(../svgs/icn-status-complete.svg); background-repeat: no-repeat; background-position: center center; background-size: cover;}

/* Card style */
.card-wrap{padding-left: 20px; padding-right: 20px;}
.card-wrap .card{border-radius: 20px; box-shadow: 0 15px 30px 0 #c8d8eb; border: 0px !important; padding: 0 6px;}
.card-wrap .card-img-top{width: auto;}
img{max-width: 100%;}

/* Beginning header style */
.header{position: fixed; left: 0; top: 1px; margin-top: -1px; z-index: 999; width: 100%; border-bottom: 1px solid rgba(187, 216, 249, .5);}
.header .navbar{padding: 0.8rem 35px .4rem !important;}
.navbar-light .navbar-nav .nav-item{position: relative; padding-right: 20px; padding-left: 20px;}
.navbar-light .navbar-nav .nav-item:nth-last-of-type(2){padding-right: 38px;}
.navbar-light .navbar-nav .nav-item:last-child:after{position: absolute; content: ""; width: 1px; background-color: #d3dce0; top: 3px; bottom: 3px;  left: 0}
.navbar-light .navbar-nav .nav-item:nth-last-of-type(1){padding-left: 40px;}
.navbar-light .navbar-nav .nav-link{color: #9faab4; font-size: 15px; line-height: 20px; font-family: proxima-nova, sans-serif; font-weight: 600; position: relative; padding-left: 0; padding-right: 0; -webkit-transition: all .3s ease-in; -moz-transition: all .3s ease-in; transition: all .3s ease-in;}
.navbar-light .navbar-nav .nav-item .nav-link:before{position: absolute; left: 0px; top: -20px; width: 0; height: 3px; border-radius: 0 0 3px 3px; content: ""; -webkit-transition: all .3s ease-in; -moz-transition: all .3s ease-in; transition: all .3s ease-in;}
.navbar-light .navbar-nav .nav-item.active .nav-link:before{width: 100%;}
.navbar-light .navbar-nav .nav-link:after{display: block; content: attr(title); font-family: proxima-nova, sans-serif; font-weight: 700; font-size: 15px; line-height: 20px; height: 0; overflow: hidden;}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link:hover{font-family: proxima-nova, sans-serif; font-weight: 700;}

.navbar-collapse .btn{width: 100px; font-size: 16px; margin-left: 18px; margin-right: 5px; /*line-height: 20px;*/}
.navbar-light .navbar-toggler{padding: 5px; border: 0px !important; outline: none;}
.navbar-light .navbar-toggler-icon{width: 22px; height: 22px; background-image: url(../svgs/icn-hamberger.svg);}
.download-play{border-bottom: 1px solid rgba(165, 206, 254, 0.26); padding-top: 30px; padding-bottom: 37px; margin-bottom: 32px;}
.download-play span{display: block; text-align: left; color: #a5cefe; font-size: 14px; line-height: 20px; font-family: proxima-nova, sans-serif; font-weight: 600; margin-bottom: 27px;}
.download-play > a {display: inline-block; margin-right: 25px; width: auto; text-align: center;}
.download-play > a img{display: inline-block; vertical-align: middle;}
/* //End header style */

/* Hero section */
.hero-section{position: relative; z-index: 1; padding-bottom: 100px; margin-top: 69px;}
.hero-bg{width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: left 36% bottom; z-index: -5; position: absolute; left: 0; right: 0; top: 0; bottom: 0;}
.shape{width: 100%; position: absolute; bottom: 0; z-index: -1;}
.hero-heading h1{margin-bottom: 50px; margin-top: 84px;}

.signup-form-wrap{border-radius: 10px; box-shadow: 0 15px 20px 0 rgba(59, 119, 187, 0.2); margin-top: 70px; padding: 33px 39px 18px; width: 390px; max-width: 100%; float: right;}
.signup-form-wrap h4{max-width: 295px; margin-bottom: 25px;}
.signup-form-wrap .form-group{margin-bottom: 10px;}
.signup-form-wrap .btn{margin-top: 15px; width: 100%; font-weight: 600;}
.signup-form-wrap p:not(.small-text){margin-top: 34px; margin-bottom: 25px; font-size: 14px; line-height: 18px;}
.signup-form-wrap p em{font-family: proxima-nova, sans-serif; font-weight: 600;}
.signup-form-wrap .small-text{margin-top: 27px; font-family: proxima-nova, sans-serif;font-weight: 600;}
.signup-form-wrap .small-text a{font-family: proxima-nova, sans-serif; font-weight: 700;}
.mobi{display: none;}

/* Promo style */
.promo-section{padding-top: 56px;}
.promo-section .content{padding-left: 0; margin-top: 40px;}
.promo-section .content h3{ margin-bottom: 35px; max-width: 400px;}
.promo-section .content p{font-size: 18px; line-height: 28px; max-width: 456px;}

/* Get started section */
.get-started{padding-top: 148px;}
.get-started-content-wrap{padding-top: 72px; padding-bottom: 142px; margin-top: 25px; position: relative; z-index: 1;}
.get-started-content-wrap .content-thumb{width: 457px; max-width: 100%;}
.get-started-step{max-width: 400px; float: right;}

.step-wrap{list-style: none; margin: 0; padding: 0; text-align: left;}
.step-wrap li{float: left; width: 100%; position: relative; padding-bottom: 23px; z-index: 1;}
.step-icon{float: left; width: 74px; margin-top: 5px; margin-right: 22px; position: relative; z-index: 1;}
.step-wrap li:last-child .step-icon{padding-bottom: 0;}
.border-dash{position: absolute; left: 38px; top: 25px; bottom: -10px; width: 1px; overflow: hidden; z-index: -1;}
.border-dash:after{position: absolute; left: -1px; top: 0; bottom: 0; width: 3px; content: ""; border: 3px dashed #c8d8eb;}
.step-wrap li:last-child .border-dash{display: none;}
.get-started-step .content{float: left; width: -webkit-calc(100% - 96px); width: calc(100% - 96px);}
.get-started-step .content h6{font-size: 20px; line-height: 30px; margin-top: 10px; margin-bottom: 9px;}
.get-started-step .content p{margin-bottom: 0px;}
.get-started-step a.btn{margin-top: 20px; width: 390px; float: right; max-width: 100%; font-size: 18px;}

/* Our solution section style */
.our-solution-section{padding-top: 129px; padding-bottom: 82px;}
.our-solution-section .title-wrap p{font-size: 20px; line-height: 30px;}
.our-solution-section .our-solution-content{margin-top: -20px;}
.our-solution-section .our-solution-content h4{margin-bottom: 20px;}
.card-caousel-section{padding-top: 65px;}
.our-solution-section .border-right{border-color: #ffffff !important;}
/*.our-solution-section .carousel-wrap{padding-left: 25px;}*/
.our-solution-section .slick-dotted.slick-slider{margin-bottom: 0; padding-left: 8px;}
.our-solution-section .slick-list{padding-right: 15px; padding-top: 60px; padding-bottom: 30px;}
.our-solution-section .card-wrap{max-width: 33%; display: none; padding: 0 0 0 40px;}
.our-solution-section .card-wrap:nth-child(-n+3){display: block;}
.our-solution-section .slick-list .card-wrap{max-width: 100%; display: block;}
.our-solution-section .card-wrap .card{padding: 0 16px; box-shadow: 0 15px 20px 0 rgba(59, 119, 187, 0.2);}
.our-solution-section .slick-slide .card-wrap:nth-child(even){margin-top: 0;}
.our-solution-section .card-wrap:nth-child(even), .our-solution-section .slick-slide:nth-child(even) .card-wrap{margin-top: 70px;}
.our-solution-section .card-body{padding-bottom: 35px; padding-top: 30px;}
.our-solution-section .card-img-top{margin-top: -36px;}
.our-solution-section .controls-top{padding: 0 32px;}
#solution-card-carousel .card-wrap .card{height: 100%;}

/* carousel button style */
.btn-floating{width: 44px; height: 44px; border-radius: 100%; overflow: hidden; position: relative; display: inline-block; -webkit-transition: background .3s ease-in; -moz-transition: background .3s ease-in; transition: background .3s ease-in;}
.next-btn{margin-left: 10px; background-color: rgba(255, 255, 255, 0.5)}
.next-btn:hover{background-color: #4a90e2;}
.btn-floating img{position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -webkit-transition: opacity .3s ease-in; -moz-transition: opacity .3s ease-in; transition: opacity .3s ease-in;}
.btn-floating:hover img{opacity: 0;}
.btn-floating:hover img.active{opacity: 1;}

/* Point of sale section style */
.point-of-sale-section{padding-top: 85px;}
.point-of-sale-section .row:first-child{margin-top: 35px;}
.point-of-sale-section .row{margin-top: 13px;}
.point-of-sale-section .row .content{margin-bottom: 45px;}
.point-of-sale-section .row:first-child .content{margin-bottom: 122px;}
.point-of-sale-section .content h4{margin-bottom: 20px;}
.point-of-sale-section .content p{max-width: 385px;}

/* Billing solutions section style */
.billing-solutions-section{padding-top: 68px; padding-bottom: 60px;}
.billing-solutions-section h4{margin-bottom: 20px;}
.billing-solutions-section .card-wrap{margin-top: 58px;}
.billing-solutions-section .card-wrap .body-small{padding: 5px 15px 45px;}
.billing-solutions-section .controls-top{display: none;}

/* How much does section */
.how-much-does-section{padding-top: 102px; padding-bottom: 45px; z-index: 1;}
.how-much-does-section:after{position: absolute; left: 0; bottom: -5px; right: 0; height: 260px; content: ""; background-color: #ffffff; z-index: -1;}
.how-much-does-section h3{margin-bottom: 61px;}
.how-much-does-section .container > .row:last-child{border-radius: 10px; box-shadow: 0 15px 20px 0 #c8d8eb;}
.how-much-does-section .list-wrap{margin-bottom: 70px; margin-left: 18%;}
.how-much-does-section .block-item{padding: 55px 60px 25px;}
.how-much-does-section .block-item:first-child{border-radius: 10px 0 0px 10px;}
.how-much-does-section .block-item:last-child{border-radius: 0px 10px 10px 0;}
.how-much-does-section .block-item > .row{margin-top: 34px;}
.how-much-does-section .block-item > .row:first-child{margin-top: 0;}
.how-much-does-section .block-item h5{margin-bottom: 20px;}
.tree-tob{width: 38.892982%; position: absolute; left: -17.517544%; bottom: -10.194737%;}

/* Clients-section section style */
.clients-section{padding-top: 103px;}
.clients-section h3{margin-bottom: 25px;}
.clients-section p{margin-bottom: 35px;}
.clients-section .card{border-color: #cddced; border-radius: 10px;}
.clients-section .card-body{padding: 51px 25px 50px;}

/* Help-section style */
.help-section{padding-top: 130px; padding-bottom: 110px;}
.help-section .border-right{position: absolute; right: 0; top: 50%; height: 180px; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); border-color: #cddced !important;}
.help-section .content{float: left; max-width: 250px; margin-left: 10px;}
.help-section .content h5{margin-bottom: 20px;}
.help-section a.btn.small{width: 180px; max-width: 100%;}

/* Snapscan landing page style */
.how-snapscan-work{padding-top: 133px;}
.how-snapscan-work .title-wrap{padding: 0 15px;}
.how-snapscan-work .title-wrap .lead-text{font-size: 18px; line-height: 28px;}
.how-snapscan-work-content-wrap{margin-top: 130px; padding-bottom: 57px; z-index: 1;}
.how-snapscan-work-content-wrap .shape-wrap{padding-top: 30px;}
.how-snapscan-work-content-wrap .col-12{padding: 0 20px;}
.work-step-wrap{max-width: 390px; height: 100%; padding: 0 60px 47px;}
.work-step-wrap > img{margin-top: -66px;}
.work-step-wrap > p{margin-bottom: 30px;}
.work-step-wrap .step-icon{width: 35px; height: 35px; margin-top: 0;}
.work-step-wrap .step-wrap li{padding-bottom: 16px;}
.work-step-wrap .border-dash{left: 17px;}
.work-step-wrap .btn{margin-top: 21px;}
.work-step-wrap h4{margin-top: 7px; margin-bottom: 13px;}
.download-app{clear: both; margin-left: -8px; margin-right: -8px;}
.download-app a{margin: 28px 8px 0; display: inline-block;}
.download-app a img{max-width: 118px;}

.snapscan-landing .clients-section{position: relative; z-index: 1}
.snapscan-landing .clients-section:before{position: absolute; content: ""; top: -1px; bottom: 150px; left: 0; right: 0; background-color: #eff5f9; z-index: -1;}

/* About page style */
.payments-in-snap{padding-top: 84px; z-index: 1;}
.payments-in-snap h2{margin-bottom: 40px;}
.payments-in-snap .card-wrap{margin-top: 73px; margin-bottom: -70px;}
.payments-in-snap .card-wrap h6{margin-bottom: 15px;}
.payments-in-snap .card-body{padding: 15px 30px 35px;}
.payments-in-snap .card-wrap .card{height: 100%;}

.about-contents .paragraph-text{margin-top: 170px;}
.about-contents .paragraph-text p{max-width: 670px; margin: 0 auto;}
.problem-solving-section{margin-top: 165px;}
.problem-solving-section .content{max-width: 460px; float: right; margin-top: -50px;}
.problem-solving-section figure{max-width: 435px;}
.problem-solving-section .content h3{margin-bottom: 22px;}

.carear-section{margin-top: 180px; border: 1px solid #cddced;}
.row.heading-row{padding: 39px 33px 10px;}
.row.heading-row figure{max-width: 260px; float: right; margin-top: -55px;}
.row.heading-row h3{margin-bottom: 20px;}
.info-wrap{border-top: 1px solid #cddced;}
.info-wrap .row{padding: 14px 34px 13px 26px; position: relative;}
.info-wrap .row:before{position: absolute; height: 1px; background-color: #cddced; content: ""; left: 41px; right: 49px; top: 0;}
.info-wrap .row:first-child:before{opacity: 0; visibility: hidden;}
.info-wrap h6{font-size: 16px; line-height: 24px; margin: 0;}
.info-wrap p{font-size: 14px; line-height: 22px; margin: 0;}
.info-wrap .btn.small{font-size: 16px; width: 125px; max-width: 125px;}
.info-wrap .icon{display: inline-block; vertical-align: middle; width: 22px; height: 22px; margin-right: 28px;}
.info-wrap .content{display: inline-block; vertical-align: middle; width: calc(100% - 58px);}
.info-wrap .location{padding-left: 10px;}
.location p{padding-left: 26px; background-image: url(../svgs/icn-map-pin.svg); background-repeat: no-repeat; background-position: left center;}

.get-in-touch-section{margin-top: 224px; padding-bottom: 74px;}
.get-in-touch-section .rounded{margin-top: -111px;}
.get-in-touch-section h5{margin-top: -4px; margin-bottom: 15px;}
.get-in-touch-section p{font-size: 18px; line-height: 28px; margin-bottom: 30px;}
.get-in-touch-section .btn.small{width: 180px;}

/* Support page style */
.support-hero h1{max-width: 464px; margin-bottom: 40px;}
.support-hero p{max-width: 342px; margin-bottom: 36px;}
.support-hero span{display: block; clear: both;}
.support-hero a:not(.social-icon){font-size: 20px; line-height: 34px; float: left; clear: both; margin-bottom: 20px; font-weight: 600;}
.support-hero .social{float: left; clear: both; margin-top: 15px;}
.support-hero .social a:first-child{margin-left: 0;}
.support-hero .signup-form-wrap{padding: 33px 30px 40px;}
.support-hero .signup-form-wrap .btn{margin-top: 27px;}

.have-question-section{margin-top: 130px; padding-bottom: 116px;}
.have-question-section h3{text-align: center;}
.have-question-section .nav-tabs{margin-top: 55px; border: 0;}
.have-question-section .tab-nav{display: block; position: relative;}
.have-question-section .tab-nav:after{background-color: #cddced; height: 1px; position: absolute; bottom: 0; left: -30px; right: 0; content: "";}
.have-question-section .tab-nav.active:after{background-color: #4a90e2;}
.have-question-section .nav-item:first-child .tab-nav:after{left: 0; right: -30px;}
.have-question-section .nav-item:last-child .tab-nav.active:after{left: 0;}
.list-wrapper{padding: 45px 0 0; list-style: none;}
.list-wrapper,.list-wrapper li{width: 100%;}
.list-wrapper li{position: relative; margin-top: 23px;}
.list-wrapper li:first-child{margin-top: 0;}
.list-wrapper .icon{width: 22px; height: 22px; margin-left: -2px; position: absolute; left: 0; top: 0px;}
.list-wrapper li a{display: inline-block; padding-left: 38px; font-size: 14px; line-height: 24px; color: #586870; font-weight: 600; -webkit-transition: all .3s ease-in; -moz-transition: all .3s ease-in; transition: all .3s ease-in;}
.list-wrapper li a:after{display: block; overflow: hidden; height: 0px; bottom: -1px; font-size: 16px; visibility: hidden; content: attr(title);}
.list-wrapper li a.active, .list-wrapper li a:hover{text-decoration: none; font-size: 16px; color: #263943;}
.list-wrapper li a.active .icon img, .list-wrapper li a:hover .icon img{opacity: 0;}
.list-wrapper li a.active .icon img.active, .list-wrapper li a:hover .icon img.active{opacity: 1;}

.accordion-wrap{padding-left: 10px; padding-top: 42px;}
.accordion-item-wrap .card{background: transparent; border: 0; box-shadow: inset 0 -1px 0 0 #cddced; border-radius: 0;}
.accordion-item-wrap .card-header{padding: 0; border: 0; background-color: transparent; border-radius: 0;}
.accordion-item-wrap .card-header a{color: #143641; padding: 21px 0; text-align: left; background-image: url(../svgs/icn-arrow-side.svg); background-repeat: no-repeat; background-position: right center; display: block;}
.accordion-item-wrap .card-header a.mdi-chevron-down{background-image: url(../svgs/icn-arrow-down.svg);}
.accordion-item-wrap .card-header a:hover{text-decoration: none;}
.accordion-item-wrap .card:first-child .card-header a{padding-top: 0;}
.accordion-item-wrap .card .card-body{padding: 0 40px 43px 0;}
.accordion-item-wrap .card .list-group{list-style: none; counter-reset: my-awesome-counter;}
.accordion-item-wrap .card .list-group li{counter-increment: my-awesome-counter; position: relative; padding-left: 25px;}
.accordion-item-wrap .card .list-group li::before{content: counter(my-awesome-counter) ". "; position: absolute; left: 0; top: 0;}

.download-our-resources{padding: 101px 0 64px;}
.download-our-resources .title-wrap{max-width: 445px; margin: 0 auto; clear: both; text-align: center;}
.download-our-resources .title-wrap h3{margin-bottom: 14px;}
.downloadable-contents a{margin-top: 29px; display: inline-block;}

/* Signup modal style */
.sign-up-modal{background-color: #263943;}
.sign-up-modal .modal-dialog{border-radius: 10px; max-width: 900px; overflow: hidden;}
.sign-up-modal .modal-figure{background-position: right center; background-size: cover; background-repeat: no-repeat;}
.sign-up-modal .modal-figure img, .modal-close .white{display: none;}
.sign-up-modal .signup-form-wrap{box-shadow: none; float: left; padding-top: 81px; padding-bottom: 80px; margin-top: 0;}
.sign-up-modal .signup-form-wrap h4{margin-top: 20px;}
.modal-close{right: 15px; top: 24px; width: 30px; padding: 5px !important; z-index: 9; opacity: 1;}


/* Beginning footer section */
.main-footer{padding: 35px 0 73px; position: relative;}
.footer-menu{position: relative; padding-bottom: 38px;}
.footer-menu:after{background-color: #e3ebf5; height: 1px; width: 100%; position: absolute; bottom: 0; left: 0; content: ""; z-index: 1}
.main-footer p{display: block; width: 100%; margin-bottom: 0;}
.app-store{float: left; width: auto; margin-top: 10px;}

.footer-nav-wrap{position: relative; z-index: 3;}
.footer-nav{margin-top: 35px; list-style: none; text-align: right;}
.footer-nav li{padding-left: 19px; padding-right: 19px; display: inline-block;}
.footer-nav li:last-child{padding-right: 0;}
.footer-nav a{font-size: 14px; line-height: 27px; font-weight: 600; display: block; -webkit-transition: all .3s ease-in; -moz-transition: all .3s ease-in; transition: all .3s ease-in;}
.footer-nav a:hover{text-decoration: none; color: #4a90e2;}

.copy-right-section .powered-by p{font-size: 11px; line-height: 13px; font-weight: 600; margin-top: 33px;}
.powered-by-logo{float: left; clear: both; margin-top: 6px; width: 133px; max-width: 100%; height: 28px;}
.copy-right p{margin-top: 59px;}
.copy-right p br{display: none;}

/* Social icon */
.social{margin-top: 45px; text-align: right;}
.social-icon{display: inline-block; width: 44px; height: 44px; border-radius: 100%; overflow: hidden; position: relative; margin-left: 13px;}
.social-icon img{position: absolute; left: 0; top: 0; -webkit-transition: opacity .3s ease-in; -moz-transition: opacity .3s ease-in; transition: opacity .3s ease-in;}
.social-icon:hover img, .social-icon img.active{opacity: 0;}
.social-icon:hover img.active{opacity: 1;}

.footer-illustration{position: absolute; left: 50%; top: 60px; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); transform: translateX(-50%); z-index: 2}
/* //End footer section */


/* =======================================================================================================
============================================ Responsive style ========================================== */

/*		Mobile Layout: 320px and 480px and more but less than or equal to 767px.
----------------------------------------------------------------------------------
*/

@media only screen and (min-width: 320px) and (max-width: 767px) {
    input[type="text"],input[type="email"],input[type="tel"],input[type="search"],input[type="number"],input[type="submit"],input[type="password"],select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;}

    h1,h2,h3{font-size: 28px; line-height: 38px;}
    h4{font-size: 24px; line-height: 32px;}
    .mobi{display: block;}
    .btn{font-size: 15px; line-height: 24px; height: 47px;}
    .btn.large{font-size: 18px;}
    .btn.play-video{height: 54px; line-height: 52px;}
    .btn.play-video:before{width: 64px; height: 68px; margin-left: 17px; margin-top: -15px;}
    .btn.play-video:after{margin-left: 21px;}
    
    input:not([type="button"]){height: 43px; font-size: 13px; line-height: 18px;}
    .form-group{margin-bottom: 9px;}
    
    .hero-section{margin-bottom: 30px; margin-top: 0px; padding-top: 69px; padding-bottom: 0;}
    .hero-bg{min-height: 30vh;}
    .marchant-hero .hero-bg{background-position: left 25% bottom;}
    .shape{width: 175%; max-width: 175%; left: -98px;}
    
    .logo.white, .shown .logo{display: none;}
    .shown .logo.white{display: block;}
    .shown .header{background-color: #4a90e2 !important; height: 100vh;}
    .shown .header .bg-white{background-color: transparent !important;}
    
    .container{padding-right: 23px; padding-left: 23px;}
    .hero-bg{height: 58.633%;}
    .hero-heading h1{margin-top: 12px; margin-bottom: 20px;}
    .signup-form-wrap{margin-top: 225px; padding-left: 30px; padding-right: 33px; float: none; max-width: 100%; padding-top: 25px; width: 100%;}
    .signup-form-wrap h4{padding-right: 10px;}
    .signup-form-wrap p:not(.small-text){font-size: 12px; line-height: 15px; margin-top: 30px; margin-bottom: 20px;}
    .small-text{font-size: 10px; line-height: 13px;}
    .signup-form-wrap .small-text{margin-top: 20px; text-align: center;}
    .signup-form-wrap .btn{margin-top: 13px; height: 47px; line-height: 45px;}

    .navbar-collapse{max-height: 90vh; overflow-y: auto; padding-left: 14px;}
    .navbar-collapse > a.btn{float: left; width: 45.52238805970149%; height: 46px; line-height: 43px; margin:0 4.477611940298508% 32px; box-shadow: none; border: 2px solid #ffffff; background-color: #ffffff; color: #3b77bc; font-size: 18px;}
    .navbar-collapse > a.btn:last-child{margin-right: 0px; background-color: transparent; color: #ffffff;}
    .navbar-collapse > a.btn:nth-last-of-type(-n+2){margin-left: 0;}
    .navbar-light .navbar-nav .nav-item .nav-link:before{display: none;}
    
    .navbar-nav{margin-top: 94px}
    .navbar-light .navbar-nav .nav-item{margin: 15px 0; padding: 0;}
    .navbar-light .navbar-nav .nav-item:first-child{margin-top: 0;}
    .navbar-light .navbar-nav .nav-item:last-child{border-left: 0; padding-left: 0; display: none;}
    .navbar-expand-lg .navbar-nav .nav-link{padding-left: 0; padding-right: 0;}
    .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active>.nav-link{color: #ffffff; font-size: 26px; line-height: 34px; padding-top: 0; padding-bottom: 0; font-family: proxima-nova, sans-serif; font-weight: 600;}
    .shown .navbar-light .navbar-toggler-icon{background-image: url(../svgs/icn-close.svg);}
    .navbar-light .navbar-nav .nav-item:last-child:after{opacity: 0; visibility: hidden;}
    .download-play{padding-left: 0; padding-right: 0;}
    .download-play > a:nth-child(2){margin-left: -7px;}
    .header .navbar{padding: 8px 13px 5px !important;}
    .navbar-brand{padding: 0;}
    
    /* Common style */
    .bg-white-mobi{background-color: #ffffff;}
    .list-wrap{padding-top: 25px; /*padding-right: 10px;*/}
    .text-mobi-center{text-align: center;}
    .justify-content-sm-center{margin: 0 auto;}
    .d-sm-flex{display: flex!important}
    .order-mobi-first{-ms-flex-order: -1; order: -1;}
    .order-mobi-last{-ms-flex-order: 13; order: 13;}
    .btn{height: 53px; line-height: 51px; font-size: 18px;}
    .navbar-light .navbar-toggler{margin-right: 6px; padding-top: 3px;}
    .lead-text, .how-snapscan-work .title-wrap .lead-text{font-size: 16px; line-height: 26px;}
    
    /* ================== Home page style ==================== */
    .promo-section{padding-top: 48px;}
    .promo-section .content{margin-top: 0}
    .promo-section .content h3{padding-top: 0; margin-bottom: 30px;}
    .promo-section .content p{margin-bottom: 65px; font-size: 16px;
    line-height: 26px;}
    
    .get-started{padding-top: 60px;}
    .get-started h2{margin-bottom: 25px;}
    .get-started-content-wrap{padding-top: 0; margin-top: 24px; padding-bottom: 80px;}
    .get-started-content-wrap .content-thumb{max-width: 248px; float: none; margin: 0 auto;}
    .get-started-step{margin-top: 12px; width: 100%;}
    .get-started-step .content h6{line-height: 27px; margin-bottom: 10px;}
    .step-wrap li{padding-bottom: 25px;}
    .step-wrap li:first-child{margin-top: 0;}
    .get-started-step a.btn{margin-top: 35px;}
    .step-icon{margin-right: 15px;}
    
    .our-solution-section{padding-top: 78px; padding-bottom: 125px;}
    .our-solution-section .container{padding: 0;}
    .our-solution-section .row{margin: 0;}
    .our-solution-section .col-sm-12{padding: 0;}
    .our-solution-section h2{margin-bottom: 30px;}
    .our-solution-section .card-caousel-section{padding-top: 0px;}
    .our-solution-section .our-solution-content{padding-top: 63px; margin-top: 47px; border-top: 1px solid #ffffff}
    .card-caousel-section .border-right{border: 0px solid #ffffff !important;}
    .our-solution-section .title-wrap, .our-solution-section .border-right{padding: 0 30px;}
    .our-solution-section .slick-list{padding-left: 22px; padding-right: 80px; padding-top: 52px;}
    .our-solution-section .card-wrap{width: 100%;}
    .our-solution-section .card-wrap:nth-child(odd){margin-top: 0;}
    .our-solution-section .card-wrap, .our-solution-section .card-wrap:nth-child(even), .our-solution-section .slick-slide:nth-child(even) .card-wrap{padding: 0px 22px; margin: 0;}
    .our-solution-section .card-caousel-section .col-md-3 p{font-size: 14px; line-height: 20px;}
    .our-solution-section .card-caousel-section .col-md-3 h4{margin-bottom: 20px;}
    .our-solution-section .card-img-top{margin-top: -42px;}
    .our-solution-section .card-body{padding-bottom: 40px; padding-top: 0px; }
    
    .controls-top{text-align: right;}
    .point-of-sale-section{padding-top: 0;}
    .shape-wrap img{width: 165%; max-width: 165%;}
    .point-of-sale-section .shape-wrap img{position: relative; right: 65%;}
    .point-of-sale-section .thumbnail-wrap{padding-left: 25px; padding-right: 25px;}
    .point-of-sale-section .row{margin-top: 70px;}
    .point-of-sale-section .row:first-child,.point-of-sale-section .row .content,.point-of-sale-section .row:first-child .content{margin: 0;}
    .point-of-sale-section .row:first-child .content-thumb{margin-top: -60px;}
    .point-of-sale-section .content h4{margin-bottom: 25px;}
    .point-of-sale-section .row:first-child .list-wrap{padding-right: 15px;}
    
    .billing-solutions-section{padding-top: 84px; padding-bottom: 45px;}
    .billing-solutions-section .container{padding: 0;}
    .billing-solutions-section .slick-list{padding: 0 35px 54px; padding-right: 80px;}
    .billing-solutions-section:after{position: absolute; left: 0; right: 0; bottom: 0; height: 325px; content: ""; background-color: #eff5f9; z-index: -1;}
    .billing-solutions-section .shape-wrap{bottom: 323px;}
    .billing-solutions-section h4{margin-bottom: 35px;}
    #solution-card-carousel{margin-top: 10px;}
    .billing-solutions-section .card-wrap{margin-top: 0; display: none;}
    .billing-solutions-section .card-wrap:first-child,.billing-solutions-section .controls-top{display: block;}
    .billing-solutions-section .card-wrap .body-small{padding-top: 0px;}
    .billing-solutions-section .card-title{margin-bottom: 12px;}
    .billing-solutions-section .controls-top{margin-top: 0px; padding: 0 34px;}
    .billing-solutions-section .btn-floating:first-child img{opacity: 0;}
    .billing-solutions-section .btn-floating:first-child img{opacity: 0;}
    .billing-solutions-section .btn-floating:first-child img.active{opacity: .25;}
    
    .how-much-does-section{padding-top: 83px; padding-bottom: 0;}
    .how-much-does-section h3{margin-bottom: 50px;}
    .how-much-does-section .row{margin-left: 0; margin-right: 0;}
    .how-much-does-section .list-wrap{margin-left: 0; margin-bottom: 35px; padding-top: 10px;}
    .how-much-does-section .list-wrap li{font-size: 14px; line-height: 16px; padding-left: 28px;}
    .how-much-does-section .list-wrap li:before{width: 16px; height: 16px;}
    .how-much-does-section .col-md-6:first-child .body-small{font-size: 11px; line-height: 16px; margin-top: 10px; margin-bottom: 0;}
    .how-much-does-section .block-item:first-child{border-radius: 10px 10px 0px 0px;}
    .how-much-does-section .block-item:last-child{border-radius: 0px 0px 10px 10px;}
    .how-much-does-section .block-item:last-child .body-small{font-size: 16px; line-height: 26px;}
    .how-much-does-section .block-item:last-child p{margin-top: 20px}
    .how-much-does-section .block-item{padding: 35px 28px 30px;}
    .how-much-does-section .block-item h5{margin-top: 0px; margin-bottom: 0px; line-height: 32px;}
    .how-much-does-section .block-item > .row{margin-top: 0;}
    .tree-tob{display: none;}
    
    .clients-section{padding-top: 68px;}
    .clients-section p{font-size: 18px; line-height: 26px;}
    .clients-section .card-body{padding: 51px 16px 40px;}
    .clients-logo-wrap img{display: block; margin: 0 auto; clear: both;}
    
    .help-section{padding-top: 0px; padding-bottom: 34px;}
    .help-section .container > .row > .col-md-6{padding: 35px 15px 64px; }
    .help-section .content{margin: 0 auto; float: none;}
    .help-section .content h5{margin-bottom: 28px; font-size: 22px; line-height: 32px;}
    .help-section .border-right{top: auto; bottom: 0; left: 50%; right: auto; width: 180px; height: 1px; border: 0px !important; background: #cddced; -webkit-transform: translate(-50%, 0); -moz-transform: translate(-50%, 0); transform: translate(-50%, 0);}
    
    /* Snapscan landing page */
    .how-snapscan-work-content-wrap{margin-top: 0;}
    .work-step-wrap{margin-top: 130px; height: auto; padding: 0 28px 37px}
    .how-snapscan-work-content-wrap .col-12:first-child .work-step-wrap{margin-top: 125px;}
    .work-step-wrap > p{font-size: 14px; line-height: 20px;}
    .work-step-wrap .step-wrap{padding: 0 20px;}
    .snapscan-landing .signup-form-wrap{margin-top: 235px;}
    .how-snapscan-work{padding-top: 47px;}
    .how-snapscan-work .title-wrap{padding: 0;}
    .work-step-wrap > img{max-width: 200px; margin-top: -85px;}
    .work-step-wrap h4{margin-top: 16px; margin-bottom: 8px;}
    .work-step-wrap > p{margin-bottom: 25px;}
    .work-step-wrap .step-wrap li{padding-bottom: 7px;}
    .work-step-wrap .step-wrap li h6{margin-bottom: 0;}
    .work-step-wrap .btn{height: 47px; line-height: 45px; margin-top: 23px; font-size: 18px;}
    .how-snapscan-work-content-wrap .col-12:last-child .work-step-wrap > img{max-width: 213px;}
    .snapscan-landing .clients-section{padding-top: 17px;}
    .snapscan-landing .clients-section .card-body{padding-bottom: 56px;}
    .snapscan-landing .help-section .container > .row > .col-md-6{padding-top: 45px;}
    .snapscan-landing .help-section .content h5{margin-bottom: 31px;}
    .snapscan-landing .prefooter-assist img.rounded{max-width: 200px;}
    .snapscan-landing .prefooter-assist .content h5{margin-top: 12px;}
    
    /* About page style */
    .about-contents h3{font-size: 36px; line-height: 44px;}
    .payments-in-snap h2{margin-bottom: 20px;}
    .payments-in-snap .card-wrap{margin-top: 30px; margin-bottom: 0;}
    .payments-in-snap .card-wrap .card-img-top { width: 117%; max-width: 500%; margin-left: -10%; }
    .payments-in-snap .card-wrap:first-child{margin-top: 32;}
    .payments-in-snap .card-body{padding: 15px 20px 37px;}
    .about-contents .paragraph-text{margin-top: 94px;}
    .about-contents .paragraph-text p{font-size: 16px; line-height: 24px;}
    .problem-solving-section{margin-top: 116px;}
    .problem-solving-section .content{margin-top: 57px;}
    .carear-section{margin-top: 95px;}
    .row.heading-row h3{margin-top: 18px;}
    .row.heading-row{padding-bottom: 21px;}
    .info-wrap .row{padding: 15px 30px 20px 88px;}
    .info-wrap .row:last-child{padding-bottom: 40px;}
    .info-wrap .icon{margin-left: -59px; margin-right: 31px;}
    .info-wrap .content{width: 100%;}
    .info-wrap .btn.small{width: 100%; max-width: 100%; margin-top: 20px;}
    .info-wrap .description p{margin-top: 10px; font-size: 12px; line-height: 20px;}
    .get-in-touch-section{margin-top: 190px;}
    .get-in-touch-section h5{max-width: 250px; margin: -4px auto 15px;}
    
    .payments-in-snap .card-wrap:first-child h6{margin-bottom: 10px; margin-top: -5px;}
    .payments-in-snap .card-wrap h6{margin-bottom: 15px;}
    
    /* Support style */
    .tab-nav{height: 44px; line-height: 43px;}    
    .support-hero .signup-form-wrap{margin-top: 37px;}
    .have-question-section{margin-top: 80px; padding-bottom: 100px;}
    .nav-tabs .nav-item{padding-right: 5px;}
    .nav-tabs .nav-item:last-child{padding-right: 0; padding-left: 5px;}
    .have-question-section .tab-nav:after{left: -10px; right: 0;}
    .have-question-section .nav-item:first-child .tab-nav:after{left: 0; right: -10px;}
    .accordion-wrap{padding-top: 21px;}
    .list-wrapper{padding: 37px 0; position: relative; z-index: 1;}
    .list-wrapper:before{content: ""; left: -50px; right: -50px; top: 0; bottom: 0; background-color: #f8fafd; position: absolute; z-index: -1;}

    .download-our-resources{padding-top: 78px; padding-bottom: 28px;}
    .downloadable-contents{padding-top: 60px;}
    .downloadable-contents a{width: 49%; margin-top: 0;}
    .downloadable-contents a img{width: 100%;}
    
    .sign-up-modal .modal-dialog{max-width: 700px; padding: 20px 10px;}
    .sign-up-modal .modal-dialog .row{margin: 0;}
    .sign-up-modal .modal-figure{background-image: none !important; padding: 0; display: none;}
    .sign-up-modal .modal-figure img, .modal-close .white{display: block;}
    .sign-up-modal .signup-form-wrap{padding: 23px 15px 14px;}
    .sign-up-modal .signup-form-wrap h4{max-width: 100%;}
    .sign-up-modal .form-wrapper{border-radius: 10px;}
    .sign-up-modal .signup-form-wrap > img, .modal-close .action-blue{display: none;}
    .modal-close{right: 0px; top: -45px; width: 16px; padding: 0px !important; z-index: 9; opacity: 1;}

    /* Footer style */
    .main-footer{padding-bottom: 35px; padding-top: 55px;}
    .app-store{margin-right: 10px !important;}
    .app-store img{height: 40px;}
    .app-store:last-child{margin-right: 0 !important;}
    .app-download p{font-size: 14px; line-height: 27px;}
    .footer-menu:after{opacity: 0; visibility: hidden;}
    .main-footer .container{padding-left: 39px; padding-right: 37px;}
    .footer-menu{padding-bottom: 55px;}
    .footer-nav{margin-top: 35px; padding-left: 0; margin-bottom: 0; text-align: left;}
    .footer-nav li{display: block; width: 100%; padding: 15px 0; border-bottom: 1px solid #d8e7f9;}
    .footer-nav li a{display: inline-block;}
    .social-icon{margin: 0 8px;}
    
    .main-footer .social{text-align: center; margin-top: 0;}
    .copy-right p{margin-top: 40px;}
    .copy-right .small-text{font-size: 12px; line-height: 18px; color: #71838e; max-width: 283px; margin: 40px auto 0;}
    .copy-right .small-text br{display: block;}
    .copy-right-section .powered-by p{color: #0033a1; font-size: 14px; line-height: 17px;}
    .powered-by-logo{float: none; width: 160px; margin-top: 4px; height: auto;}
    .footer-illustration{position: relative; top: auto; margin-top: 55px;}
}


/*		Wide Mobile Layout: 480px.
------------------------------------------------------------
*/

@media only screen and (max-width: 320px) {
    .btn.play-video:before{margin-left: 13px; margin-right: 10px;}
    
    .navbar-nav{margin-top: 45px;}
    .navbar-light .navbar-nav .nav-item{margin: 10px 0;}
    .download-play{padding-bottom: 35px;}
    .navbar-collapse > a.btn{margin-bottom: 15px;}
}

@media only screen and (max-width: 375px) {
    .support-hero .hero-bg{background-size: 235%; background-position: left -110px bottom;}

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .navbar-nav{margin-top: 45px;}
    .navbar-collapse{max-height: 84vh;}
    .shape{width: 145%;}
    .sign-up-modal .modal-dialog{padding: 70px 20px;}
    
}

/*		Tablet Layout: 768px.
-----------------------------------------------------------------
*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    input[type="text"],input[type="email"],input[type="tel"],input[type="search"],input[type="number"],input[type="submit"],input[type="password"],select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
    .hero-heading h1 br{display: none;}
    
    .header{position: fixed; top: 1px; margin-top: -1px;}
    .logo.white, .shown .logo, .mobi{display: none;}
    .shown .logo.white{display: block;}
    .shown .header{background-color: #4a90e2 !important; height: 100vh;}
    .shown .header .bg-white{background-color: transparent !important;}
    
    .navbar-collapse{max-height: 90vh; overflow-y: auto;}
    .navbar-collapse > a.btn{display: inline-block; width: 145px; height: 46px; line-height: 42px; margin-right: 30px; margin-left: 0; box-shadow: none; border: 2px solid #ffffff; background-color: #ffffff; color: #3b77bc; font-size: 18px; margin-bottom: 32px;}
    .navbar-collapse > a.btn:last-child{margin-right: 0px; background-color: transparent; color: #ffffff;}
    .navbar-light .navbar-nav .nav-item:before{display: none;}
    
    .shown .header{background-color: #4a90e2 !important; height: 100vh;}
    .shown .header .bg-white{background-color: transparent !important;}
    .navbar-nav{margin-top: 95px}
    .navbar-light .navbar-nav .nav-item{margin: 15px 0; padding: 0;}
    .navbar-light .navbar-nav .nav-item:first-child{margin-top: 0;}
    .navbar-light .navbar-nav .nav-item:last-child{border-left: 0; padding-left: 0; display: none;}
    .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active>.nav-link{color: #ffffff; font-size: 26px; line-height: 34px; padding-top: 0; padding-bottom: 0; font-family: proxima-nova, sans-serif; font-weight: 600;}
    .navbar-light .navbar-nav .nav-item:last-child:after{opacity: 0; visibility: hidden;}
    .shown .navbar-light .navbar-toggler-icon{background-image: url(../svgs/icn-close.svg);}
    .shown .download-play{display: block;}
    .download-play, .navbar-expand-lg .navbar-nav .nav-link{padding-left: 5px; padding-right: 0;}
    .download-play > a:nth-child(2){margin-left: -7px;}
    .get-started-step{float: none;}
    
    .hero-section{padding-top: 69px;}
    .hero-bg{min-height: 10px;}
    .marchant-hero .hero-bg{background-position: left 30% bottom;}
    
    /* About page */
    .payments-in-snap{padding-top: 150px;}
    .payments-in-snap .card-wrap{padding-left: 10px; padding-right: 10px;}
    .payments-in-snap .card-body{padding-left: 15px; padding-right: 15px;}
    
    .sign-up-modal .modal-dialog{max-width: 700px;}
    .sign-up-modal .modal-dialog .row{margin: 0;}    
    .sign-up-modal .modal-figure{background-image: none !important; padding: 0;}
    .sign-up-modal .modal-figure img{display: block;}
    .sign-up-modal .signup-form-wrap{width: 100%;}
    .sign-up-modal .signup-form-wrap h4{max-width: 100%;}
    
    /* Footer style */
    .main-footer{padding-bottom: 35px; padding-top: 55px;}
    .app-store{margin-right: 10px !important;}
    .app-store img{width: 142px;}
    .app-store:last-child{margin-right: 0 !important;}
    .app-download p{font-size: 14px; line-height: 27px; margin-bottom: 15px;}
    .footer-menu:after{opacity: 0; visibility: hidden;}
    .main-footer .container{padding-left: 39px; padding-right: 37px;}
    .social-icon{margin: 0 8px;}
    
    .main-footer .social{text-align: center; margin-top: 0;}
    .copy-right p{margin-top: 40px;}
    .copy-right .small-text{font-size: 12px; line-height: 18px; color: #71838e; max-width: 283px; margin: 40px auto 0;}
    .copy-right .small-text br{display: block;}
    .copy-right-section .powered-by p{color: #0033a1; font-size: 14px; line-height: 17px;}
    .powered-by-logo{float: none; width: 160px; margin-top: 4px; height: auto;}
    .footer-illustration{position: relative; top: auto; margin-top: 55px;}
    .copy-right-section .col-12, .footer-menu .col-12{max-width: 100%; flex: 0 0 100%; text-align: center;}
    .app-store{float: none;}
    .copy-right-section .col-12:last-child{margin-top: 50px;}
    .powered-by,.footer-nav{text-align: center;}
}


/*		Tablet Layout: 1024px.
-----------------------------------------------------------------
*/

@media only screen and (min-width: 992px) and (max-width: 1024px) {    input[type="text"],input[type="email"],input[type="tel"],input[type="search"],input[type="number"],input[type="submit"],input[type="password"],select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
    .footer-illustration{left: 45%;}
	
}

@media (min-width: 1200px){
    .my-custom-small-container, .about-contents{max-width: 1030px;}
    .billing-solutions-section .container{max-width: 1080px;}
    .have-question-section .container{max-width: 970px;}
    .clients-section .container{max-width: 1070px;}
    .sign-up-modal .modal-dialog{max-width: 1152px;}
    .how-much-does-section .container{max-width: 1040px;}
}

@media (min-width: 1400px){
    .my-custom-containter{max-width: 1230px;}  
    .hero-section, .hero-bg{min-height: 85vh;}
    .payments-in-snap .container{max-width: 1220px;}
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .hero-section,.hero-bg{min-height: 15vh;}
}

/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */
@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2){
		
}